{% extends 'AdminBundle::default.html.twig' %}

{% block breadcrumbsList %}
<a class="breadcrumb-item" href="{{ path('admin_entity_index', { 'className': className }) }}">{{ config.entities[className].title is defined ? config.entities[className].title|transchoice(2) : className|split('\\')|last|humanize|transchoice(2) }}</a>
{% endblock %}

{% block title %}
{{ app.request.get('_route') == 'admin_entity_new' ? 'New record'|trans : entity|transEntity }}
{% endblock %}

{% block content %}
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <button type="submit" name="save" class="btn-success btn mr-3">{{ 'Save'|trans }}</button>
        <a href="{{ app.request.get('_route') == 'admin_entity_new' ? path('admin_entity_index', { 'className': className }) : path('admin_entity_show', { 'className': className, 'id': entity.id }) }}" name="cancel" class="btn-danger btn">
            {{ 'Cancel'|trans }}
        </a>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    window.CKEDITOR_BASEPATH = '{{ asset('bundles/admin/ckeditor/') }}';
</script>
<script src="{{ asset('bundles/admin/ckeditor/ckeditor.js') }}"></script>
<script>
    CKEDITOR.config.language = '{{ app.request.get('_locale') }}';
    [].forEach.call(document.getElementsByClassName('wysiwyg'), function (wysiwyg) {
        CKEDITOR.replace(wysiwyg);
    });
</script>
{% endblock %}
